
        <div class="page">

    <main class="page-content" data-cart="">
        <ul class="breadcrumbs">
        <li class="breadcrumb ">
                <a href="http://cornerstone-warm-demo.mybigcommerce.com/" class="breadcrumb-label">Home</a>
        </li>
        <li class="breadcrumb is-active">
                <span class="breadcrumb-label">Your Cart</span>
        </li>
</ul>

        <h1 class="page-heading" data-cart-page-title="">
    Your Cart (3 items)
</h1>

        <div data-cart-status="">
                    </div>

            <div class="loadingOverlay" style="display: none;"></div>

            <div data-cart-content="">
                <table class="cart" data-cart-quantity="3">
    <thead class="cart-header">
        <tr>
            <th class="cart-header-item" colspan="2">Item</th>
            <th class="cart-header-item">Price</th>
            <th class="cart-header-item cart-header-quantity">Quantity</th>
            <th class="cart-header-item">Total</th>
        </tr>
    </thead>
    <tbody class="cart-list">
            <tr class="cart-item" data-item-row="">
                <td class="cart-item-block cart-item-figure">
                        <img class="cart-item-image" src="https://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/100x100/products/84/334/Untitled-1__39310.1461362916.jpg?c=2" alt="Pitalito" title="Pitalito">
                </td>
                <td class="cart-item-block cart-item-title">
                        <p class="cart-item-brand">Phil &amp; Sebastian</p>
                    <h4 class="cart-item-name"><a href="http://cornerstone-warm-demo.mybigcommerce.com/pitalito/">Pitalito</a></h4>




                        <dl class="cart-item-options cart-item-options--giftWrapping">
        <dt class="cart-item-option-title">
            Gift Wrapping:
        </dt>
            <dd class="cart-item-option-description">
                <a href="" data-item-giftwrap="5900c5ab0706e">Add</a>
            </dd>
    </dl>

                </td>
                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">Price</span>
                        <span class="cart-item-value ">$18.00</span>
                </td>

                <td class="cart-item-block cart-item-info cart-item-quantity">

                    <label class="form-label cart-item-label" for="qty-5900c5ab0706e">Quantity:</label>
                    <div class="form-increment">
                            <button class="button button--icon" data-cart-update="" data-cart-itemid="5900c5ab0706e" data-action="dec">
                                <span class="is-srOnly">Decrease Quantity:</span>
                                <i class="icon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-keyboard-arrow-down"></use></svg></i>
                            </button>
                        <input class="form-input form-input--incrementTotal" id="qty-5900c5ab0706e" name="qty-5900c5ab0706e" type="tel" value="1" data-quantity-min="0" data-quantity-max="" data-quantity-min-error="The minimum purchasable quantity is 0" data-quantity-max-error="The maximum purchasable quantity is null" min="1" pattern="[0-9]*" aria-live="polite">
                            <button class="button button--icon" data-cart-update="" data-cart-itemid="5900c5ab0706e" data-action="inc">
                                <span class="is-srOnly">Increase Quantity:</span>
                                <i class="icon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-keyboard-arrow-up"></use></svg></i>
                            </button>
                    </div>

                </td>

                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">Total</span>
                        <strong class="cart-item-value ">$18.00</strong>
                        <a class="cart-remove icon" data-cart-itemid="5900c5ab0706e" href="#" data-confirm-delete="Are you sure you want to delete this item?">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
                        </a>
                </td>
            </tr>
            <tr class="cart-item" data-item-row="">
                <td class="cart-item-block cart-item-figure">
                        <img class="cart-item-image" src="https://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/100x100/products/85/338/Untitled-1__78157.1461363208.jpg?c=2" alt="Caballeros" title="Caballeros">
                </td>
                <td class="cart-item-block cart-item-title">
                        <p class="cart-item-brand">Phil &amp; Sebastian</p>
                    <h4 class="cart-item-name"><a href="http://cornerstone-warm-demo.mybigcommerce.com/caballeros/">Caballeros</a></h4>




                        <dl class="cart-item-options cart-item-options--giftWrapping">
        <dt class="cart-item-option-title">
            Gift Wrapping:
        </dt>
            <dd class="cart-item-option-description">
                <a href="" data-item-giftwrap="5900c66e0ff8c">Add</a>
            </dd>
    </dl>

                </td>
                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">Price</span>
                        <span class="cart-item-value ">$18.00</span>
                </td>

                <td class="cart-item-block cart-item-info cart-item-quantity">

                    <label class="form-label cart-item-label" for="qty-5900c66e0ff8c">Quantity:</label>
                    <div class="form-increment">
                            <button class="button button--icon" data-cart-update="" data-cart-itemid="5900c66e0ff8c" data-action="dec">
                                <span class="is-srOnly">Decrease Quantity:</span>
                                <i class="icon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-keyboard-arrow-down"></use></svg></i>
                            </button>
                        <input class="form-input form-input--incrementTotal" id="qty-5900c66e0ff8c" name="qty-5900c66e0ff8c" type="tel" value="1" data-quantity-min="0" data-quantity-max="" data-quantity-min-error="The minimum purchasable quantity is 0" data-quantity-max-error="The maximum purchasable quantity is null" min="1" pattern="[0-9]*" aria-live="polite">
                            <button class="button button--icon" data-cart-update="" data-cart-itemid="5900c66e0ff8c" data-action="inc">
                                <span class="is-srOnly">Increase Quantity:</span>
                                <i class="icon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-keyboard-arrow-up"></use></svg></i>
                            </button>
                    </div>

                </td>

                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">Total</span>
                        <strong class="cart-item-value ">$18.00</strong>
                        <a class="cart-remove icon" data-cart-itemid="5900c66e0ff8c" href="#" data-confirm-delete="Are you sure you want to delete this item?">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
                        </a>
                </td>
            </tr>
            <tr class="cart-item" data-item-row="">
                <td class="cart-item-block cart-item-figure">
                        <img class="cart-item-image" src="https://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/100x100/products/86/326/ageze1__43203.1454448999.jpg?c=2" alt="Ageze" title="Ageze">
                </td>
                <td class="cart-item-block cart-item-title">
                        <p class="cart-item-brand">Phil &amp; Sebastian</p>
                    <h4 class="cart-item-name"><a href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">Ageze</a></h4>




                        <dl class="cart-item-options cart-item-options--giftWrapping">
        <dt class="cart-item-option-title">
            Gift Wrapping:
        </dt>
            <dd class="cart-item-option-description">
                <a href="" data-item-giftwrap="5901054c33996">Add</a>
            </dd>
    </dl>

                </td>
                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">Price</span>
                        <span class="cart-item-value ">$18.00</span>
                </td>

                <td class="cart-item-block cart-item-info cart-item-quantity">

                    <label class="form-label cart-item-label" for="qty-5901054c33996">Quantity:</label>
                    <div class="form-increment">
                            <button class="button button--icon" data-cart-update="" data-cart-itemid="5901054c33996" data-action="dec">
                                <span class="is-srOnly">Decrease Quantity:</span>
                                <i class="icon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-keyboard-arrow-down"></use></svg></i>
                            </button>
                        <input class="form-input form-input--incrementTotal" id="qty-5901054c33996" name="qty-5901054c33996" type="tel" value="1" data-quantity-min="0" data-quantity-max="" data-quantity-min-error="The minimum purchasable quantity is 0" data-quantity-max-error="The maximum purchasable quantity is null" min="1" pattern="[0-9]*" aria-live="polite">
                            <button class="button button--icon" data-cart-update="" data-cart-itemid="5901054c33996" data-action="inc">
                                <span class="is-srOnly">Increase Quantity:</span>
                                <i class="icon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-keyboard-arrow-up"></use></svg></i>
                            </button>
                    </div>

                </td>

                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">Total</span>
                        <strong class="cart-item-value ">$18.00</strong>
                        <a class="cart-remove icon" data-cart-itemid="5901054c33996" href="#" data-confirm-delete="Are you sure you want to delete this item?">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
                        </a>
                </td>
            </tr>
    </tbody>
</table>
            </div>

            <div data-cart-totals="">
                <ul class="cart-totals">
    <li class="cart-total">
        <div class="cart-total-label">
            <strong>Subtotal:</strong>
        </div>
        <div class="cart-total-value">
                <span>$54.00</span>
        </div>
    </li>
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>Shipping:</strong>
            </div>
                <div class="cart-total-value">
        <button class="shipping-estimate-show">Add Info</button>
        <button class="shipping-estimate-hide" style="display: none;">Cancel</button>
    </div>

<div class="shipping-estimator u-hiddenVisually">
    <form class="form estimator-form" data-shipping-estimator="">
        <dl>
            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-country">Country</label>
            </dt>

            <dd class="estimator-form-input">
                <select class="form-select" id="shipping-country" name="shipping-country" data-field-type="Country">
                    <option>Country</option>
                        <option value="1">
                            Afghanistan
                        </option>
                        <option value="2">
                            Albania
                        </option>
                        <option value="3">
                            Algeria
                        </option>
                        <option value="4">
                            American Samoa
                        </option>
                        <option value="5">
                            Andorra
                        </option>
                        <option value="6">
                            Angola
                        </option>
                        <option value="7">
                            Anguilla
                        </option>
                        <option value="8">
                            Antarctica
                        </option>
                        <option value="9">
                            Antigua and Barbuda
                        </option>
                        <option value="10">
                            Argentina
                        </option>
                        <option value="11">
                            Armenia
                        </option>
                        <option value="12">
                            Aruba
                        </option>
                        <option value="13">
                            Australia
                        </option>
                        <option value="14">
                            Austria
                        </option>
                        <option value="15">
                            Azerbaijan
                        </option>
                        <option value="16">
                            Bahamas
                        </option>
                        <option value="17">
                            Bahrain
                        </option>
                        <option value="18">
                            Bangladesh
                        </option>
                        <option value="19">
                            Barbados
                        </option>
                        <option value="20">
                            Belarus
                        </option>
                        <option value="21">
                            Belgium
                        </option>
                        <option value="22">
                            Belize
                        </option>
                        <option value="23">
                            Benin
                        </option>
                        <option value="24">
                            Bermuda
                        </option>
                        <option value="25">
                            Bhutan
                        </option>
                        <option value="26">
                            Bolivia
                        </option>
                        <option value="247">
                            Bonaire, Sint Eustatius and Saba
                        </option>
                        <option value="27">
                            Bosnia and Herzegovina
                        </option>
                        <option value="28">
                            Botswana
                        </option>
                        <option value="29">
                            Bouvet Island
                        </option>
                        <option value="30">
                            Brazil
                        </option>
                        <option value="31">
                            British Indian Ocean Territory
                        </option>
                        <option value="32">
                            Brunei Darussalam
                        </option>
                        <option value="33">
                            Bulgaria
                        </option>
                        <option value="34">
                            Burkina Faso
                        </option>
                        <option value="35">
                            Burundi
                        </option>
                        <option value="36">
                            Cambodia
                        </option>
                        <option value="37">
                            Cameroon
                        </option>
                        <option value="38">
                            Canada
                        </option>
                        <option value="39">
                            Cape Verde
                        </option>
                        <option value="40">
                            Cayman Islands
                        </option>
                        <option value="41">
                            Central African Republic
                        </option>
                        <option value="42">
                            Chad
                        </option>
                        <option value="43">
                            Chile
                        </option>
                        <option value="44">
                            China
                        </option>
                        <option value="45">
                            Christmas Island
                        </option>
                        <option value="46">
                            Cocos (Keeling) Islands
                        </option>
                        <option value="47">
                            Colombia
                        </option>
                        <option value="48">
                            Comoros
                        </option>
                        <option value="49">
                            Congo
                        </option>
                        <option value="50">
                            Congo, the Democratic Republic of the
                        </option>
                        <option value="51">
                            Cook Islands
                        </option>
                        <option value="52">
                            Costa Rica
                        </option>
                        <option value="246">
                            Cote d'Ivoire
                        </option>
                        <option value="54">
                            Croatia
                        </option>
                        <option value="55">
                            Cuba
                        </option>
                        <option value="56">
                            Cyprus
                        </option>
                        <option value="57">
                            Czech Republic
                        </option>
                        <option value="58">
                            Denmark
                        </option>
                        <option value="59">
                            Djibouti
                        </option>
                        <option value="60">
                            Dominica
                        </option>
                        <option value="61">
                            Dominican Republic
                        </option>
                        <option value="62">
                            Ecuador
                        </option>
                        <option value="63">
                            Egypt
                        </option>
                        <option value="64">
                            El Salvador
                        </option>
                        <option value="65">
                            Equatorial Guinea
                        </option>
                        <option value="66">
                            Eritrea
                        </option>
                        <option value="67">
                            Estonia
                        </option>
                        <option value="68">
                            Ethiopia
                        </option>
                        <option value="69">
                            Falkland Islands (Malvinas)
                        </option>
                        <option value="70">
                            Faroe Islands
                        </option>
                        <option value="71">
                            Fiji
                        </option>
                        <option value="72">
                            Finland
                        </option>
                        <option value="73">
                            France
                        </option>
                        <option value="74">
                            French Guiana
                        </option>
                        <option value="75">
                            French Polynesia
                        </option>
                        <option value="76">
                            French Southern Territories
                        </option>
                        <option value="77">
                            Gabon
                        </option>
                        <option value="78">
                            Gambia
                        </option>
                        <option value="79">
                            Georgia
                        </option>
                        <option value="80">
                            Germany
                        </option>
                        <option value="81">
                            Ghana
                        </option>
                        <option value="82">
                            Gibraltar
                        </option>
                        <option value="83">
                            Greece
                        </option>
                        <option value="84">
                            Greenland
                        </option>
                        <option value="85">
                            Grenada
                        </option>
                        <option value="86">
                            Guadeloupe
                        </option>
                        <option value="87">
                            Guam
                        </option>
                        <option value="88">
                            Guatemala
                        </option>
                        <option value="242">
                            Guernsey
                        </option>
                        <option value="89">
                            Guinea
                        </option>
                        <option value="90">
                            Guinea-Bissau
                        </option>
                        <option value="91">
                            Guyana
                        </option>
                        <option value="92">
                            Haiti
                        </option>
                        <option value="93">
                            Heard Island and Mcdonald Islands
                        </option>
                        <option value="94">
                            Holy See (Vatican City State)
                        </option>
                        <option value="95">
                            Honduras
                        </option>
                        <option value="96">
                            Hong Kong
                        </option>
                        <option value="97">
                            Hungary
                        </option>
                        <option value="98">
                            Iceland
                        </option>
                        <option value="99">
                            India
                        </option>
                        <option value="100">
                            Indonesia
                        </option>
                        <option value="101">
                            Iran, Islamic Republic of
                        </option>
                        <option value="102">
                            Iraq
                        </option>
                        <option value="103">
                            Ireland
                        </option>
                        <option value="240">
                            Isle of Man
                        </option>
                        <option value="104">
                            Israel
                        </option>
                        <option value="105">
                            Italy
                        </option>
                        <option value="106">
                            Jamaica
                        </option>
                        <option value="107">
                            Japan
                        </option>
                        <option value="241">
                            Jersey
                        </option>
                        <option value="108">
                            Jordan
                        </option>
                        <option value="109">
                            Kazakhstan
                        </option>
                        <option value="110">
                            Kenya
                        </option>
                        <option value="111">
                            Kiribati
                        </option>
                        <option value="244">
                            Korea, Democratic People's Republic of
                        </option>
                        <option value="113">
                            Korea, Republic of
                        </option>
                        <option value="114">
                            Kuwait
                        </option>
                        <option value="115">
                            Kyrgyzstan
                        </option>
                        <option value="243">
                            Lao People's Democratic Republic
                        </option>
                        <option value="117">
                            Latvia
                        </option>
                        <option value="118">
                            Lebanon
                        </option>
                        <option value="119">
                            Lesotho
                        </option>
                        <option value="120">
                            Liberia
                        </option>
                        <option value="121">
                            Libyan Arab Jamahiriya
                        </option>
                        <option value="122">
                            Liechtenstein
                        </option>
                        <option value="123">
                            Lithuania
                        </option>
                        <option value="124">
                            Luxembourg
                        </option>
                        <option value="125">
                            Macao
                        </option>
                        <option value="126">
                            Macedonia, the Former Yugoslav Republic of
                        </option>
                        <option value="127">
                            Madagascar
                        </option>
                        <option value="128">
                            Malawi
                        </option>
                        <option value="129">
                            Malaysia
                        </option>
                        <option value="130">
                            Maldives
                        </option>
                        <option value="131">
                            Mali
                        </option>
                        <option value="132">
                            Malta
                        </option>
                        <option value="133">
                            Marshall Islands
                        </option>
                        <option value="134">
                            Martinique
                        </option>
                        <option value="135">
                            Mauritania
                        </option>
                        <option value="136">
                            Mauritius
                        </option>
                        <option value="137">
                            Mayotte
                        </option>
                        <option value="138">
                            Mexico
                        </option>
                        <option value="139">
                            Micronesia, Federated States of
                        </option>
                        <option value="140">
                            Moldova, Republic of
                        </option>
                        <option value="141">
                            Monaco
                        </option>
                        <option value="142">
                            Mongolia
                        </option>
                        <option value="245">
                            Montenegro
                        </option>
                        <option value="143">
                            Montserrat
                        </option>
                        <option value="144">
                            Morocco
                        </option>
                        <option value="145">
                            Mozambique
                        </option>
                        <option value="146">
                            Myanmar
                        </option>
                        <option value="147">
                            Namibia
                        </option>
                        <option value="148">
                            Nauru
                        </option>
                        <option value="149">
                            Nepal
                        </option>
                        <option value="150">
                            Netherlands
                        </option>
                        <option value="151">
                            Netherlands Antilles
                        </option>
                        <option value="152">
                            New Caledonia
                        </option>
                        <option value="153">
                            New Zealand
                        </option>
                        <option value="154">
                            Nicaragua
                        </option>
                        <option value="155">
                            Niger
                        </option>
                        <option value="156">
                            Nigeria
                        </option>
                        <option value="157">
                            Niue
                        </option>
                        <option value="158">
                            Norfolk Island
                        </option>
                        <option value="159">
                            Northern Mariana Islands
                        </option>
                        <option value="160">
                            Norway
                        </option>
                        <option value="161">
                            Oman
                        </option>
                        <option value="162">
                            Pakistan
                        </option>
                        <option value="163">
                            Palau
                        </option>
                        <option value="164">
                            Palestinian Territory, Occupied
                        </option>
                        <option value="165">
                            Panama
                        </option>
                        <option value="166">
                            Papua New Guinea
                        </option>
                        <option value="167">
                            Paraguay
                        </option>
                        <option value="168">
                            Peru
                        </option>
                        <option value="169">
                            Philippines
                        </option>
                        <option value="170">
                            Pitcairn
                        </option>
                        <option value="171">
                            Poland
                        </option>
                        <option value="172">
                            Portugal
                        </option>
                        <option value="173">
                            Puerto Rico
                        </option>
                        <option value="174">
                            Qatar
                        </option>
                        <option value="175">
                            Reunion
                        </option>
                        <option value="176">
                            Romania
                        </option>
                        <option value="177">
                            Russian Federation
                        </option>
                        <option value="178">
                            Rwanda
                        </option>
                        <option value="179">
                            Saint Helena
                        </option>
                        <option value="180">
                            Saint Kitts and Nevis
                        </option>
                        <option value="181">
                            Saint Lucia
                        </option>
                        <option value="182">
                            Saint Pierre and Miquelon
                        </option>
                        <option value="183">
                            Saint Vincent and the Grenadines
                        </option>
                        <option value="184">
                            Samoa
                        </option>
                        <option value="185">
                            San Marino
                        </option>
                        <option value="186">
                            Sao Tome and Principe
                        </option>
                        <option value="187">
                            Saudi Arabia
                        </option>
                        <option value="188">
                            Senegal
                        </option>
                        <option value="189">
                            Serbia
                        </option>
                        <option value="190">
                            Seychelles
                        </option>
                        <option value="191">
                            Sierra Leone
                        </option>
                        <option value="192">
                            Singapore
                        </option>
                        <option value="193">
                            Slovakia
                        </option>
                        <option value="194">
                            Slovenia
                        </option>
                        <option value="195">
                            Solomon Islands
                        </option>
                        <option value="196">
                            Somalia
                        </option>
                        <option value="197">
                            South Africa
                        </option>
                        <option value="198">
                            South Georgia and the South Sandwich Islands
                        </option>
                        <option value="199">
                            Spain
                        </option>
                        <option value="200">
                            Sri Lanka
                        </option>
                        <option value="201">
                            Sudan
                        </option>
                        <option value="202">
                            Suriname
                        </option>
                        <option value="203">
                            Svalbard and Jan Mayen
                        </option>
                        <option value="204">
                            Swaziland
                        </option>
                        <option value="205">
                            Sweden
                        </option>
                        <option value="206">
                            Switzerland
                        </option>
                        <option value="207">
                            Syrian Arab Republic
                        </option>
                        <option value="208">
                            Taiwan
                        </option>
                        <option value="209">
                            Tajikistan
                        </option>
                        <option value="210">
                            Tanzania, United Republic of
                        </option>
                        <option value="211">
                            Thailand
                        </option>
                        <option value="212">
                            Timor-Leste
                        </option>
                        <option value="213">
                            Togo
                        </option>
                        <option value="214">
                            Tokelau
                        </option>
                        <option value="215">
                            Tonga
                        </option>
                        <option value="216">
                            Trinidad and Tobago
                        </option>
                        <option value="217">
                            Tunisia
                        </option>
                        <option value="218">
                            Turkey
                        </option>
                        <option value="219">
                            Turkmenistan
                        </option>
                        <option value="220">
                            Turks and Caicos Islands
                        </option>
                        <option value="221">
                            Tuvalu
                        </option>
                        <option value="222">
                            Uganda
                        </option>
                        <option value="223">
                            Ukraine
                        </option>
                        <option value="224">
                            United Arab Emirates
                        </option>
                        <option value="225">
                            United Kingdom
                        </option>
                        <option value="226" selected="selected">
                            United States
                        </option>
                        <option value="227">
                            United States Minor Outlying Islands
                        </option>
                        <option value="228">
                            Uruguay
                        </option>
                        <option value="229">
                            Uzbekistan
                        </option>
                        <option value="230">
                            Vanuatu
                        </option>
                        <option value="231">
                            Venezuela
                        </option>
                        <option value="232">
                            Viet Nam
                        </option>
                        <option value="233">
                            Virgin Islands, British
                        </option>
                        <option value="234">
                            Virgin Islands, U.S.
                        </option>
                        <option value="235">
                            Wallis and Futuna
                        </option>
                        <option value="236">
                            Western Sahara
                        </option>
                        <option value="237">
                            Yemen
                        </option>
                        <option value="238">
                            Zambia
                        </option>
                        <option value="239">
                            Zimbabwe
                        </option>
                </select>
            <span style="display: none;"></span></dd>

            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-state">State/province</label>
            </dt>

            <dd class="estimator-form-input">
                    <select class="form-select" id="shipping-state" name="shipping-state" data-field-type="State">
                        <option>State/province</option>
                            <option value="1">
                                Alabama
                            </option>
                            <option value="2">
                                Alaska
                            </option>
                            <option value="3">
                                American Samoa
                            </option>
                            <option value="4">
                                Arizona
                            </option>
                            <option value="5">
                                Arkansas
                            </option>
                            <option value="6">
                                Armed Forces Africa
                            </option>
                            <option value="7">
                                Armed Forces Americas
                            </option>
                            <option value="8">
                                Armed Forces Canada
                            </option>
                            <option value="9">
                                Armed Forces Europe
                            </option>
                            <option value="10">
                                Armed Forces Middle East
                            </option>
                            <option value="11">
                                Armed Forces Pacific
                            </option>
                            <option value="12">
                                California
                            </option>
                            <option value="13">
                                Colorado
                            </option>
                            <option value="14">
                                Connecticut
                            </option>
                            <option value="15">
                                Delaware
                            </option>
                            <option value="16">
                                District of Columbia
                            </option>
                            <option value="17">
                                Federated States Of Micronesia
                            </option>
                            <option value="18">
                                Florida
                            </option>
                            <option value="19">
                                Georgia
                            </option>
                            <option value="20">
                                Guam
                            </option>
                            <option value="21">
                                Hawaii
                            </option>
                            <option value="22">
                                Idaho
                            </option>
                            <option value="23">
                                Illinois
                            </option>
                            <option value="24">
                                Indiana
                            </option>
                            <option value="25">
                                Iowa
                            </option>
                            <option value="26">
                                Kansas
                            </option>
                            <option value="27">
                                Kentucky
                            </option>
                            <option value="28">
                                Louisiana
                            </option>
                            <option value="29">
                                Maine
                            </option>
                            <option value="30">
                                Marshall Islands
                            </option>
                            <option value="31">
                                Maryland
                            </option>
                            <option value="32">
                                Massachusetts
                            </option>
                            <option value="33">
                                Michigan
                            </option>
                            <option value="34">
                                Minnesota
                            </option>
                            <option value="35">
                                Mississippi
                            </option>
                            <option value="36">
                                Missouri
                            </option>
                            <option value="37">
                                Montana
                            </option>
                            <option value="38">
                                Nebraska
                            </option>
                            <option value="39">
                                Nevada
                            </option>
                            <option value="40">
                                New Hampshire
                            </option>
                            <option value="41">
                                New Jersey
                            </option>
                            <option value="42">
                                New Mexico
                            </option>
                            <option value="43">
                                New York
                            </option>
                            <option value="44">
                                North Carolina
                            </option>
                            <option value="45">
                                North Dakota
                            </option>
                            <option value="46">
                                Northern Mariana Islands
                            </option>
                            <option value="47">
                                Ohio
                            </option>
                            <option value="48">
                                Oklahoma
                            </option>
                            <option value="49">
                                Oregon
                            </option>
                            <option value="50">
                                Palau
                            </option>
                            <option value="51">
                                Pennsylvania
                            </option>
                            <option value="52">
                                Puerto Rico
                            </option>
                            <option value="53">
                                Rhode Island
                            </option>
                            <option value="54">
                                South Carolina
                            </option>
                            <option value="55">
                                South Dakota
                            </option>
                            <option value="56">
                                Tennessee
                            </option>
                            <option value="57">
                                Texas
                            </option>
                            <option value="58">
                                Utah
                            </option>
                            <option value="59">
                                Vermont
                            </option>
                            <option value="60">
                                Virgin Islands
                            </option>
                            <option value="61">
                                Virginia
                            </option>
                            <option value="62">
                                Washington
                            </option>
                            <option value="63">
                                West Virginia
                            </option>
                            <option value="64">
                                Wisconsin
                            </option>
                            <option value="65">
                                Wyoming
                            </option>
                    </select>
            <span style="display: none;"></span></dd>

            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-city">Suburb/city</label>
            </dt>
            <dd class="estimator-form-input">
                <input class="form-input" type="text" id="shipping-city" name="shipping-city" value="" placeholder="Suburb/city">
            </dd>

            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-zip">Zip/postcode</label>
            </dt>
            <dd class="estimator-form-input">
                <input class="form-input" type="text" id="shipping-zip" name="shipping-zip" value="" placeholder="Zip/postcode">
            </dd>
            <button class="button button--primary button--small shipping-estimate-submit">Estimate Shipping</button>
        </dl>
    </form>
    <div class="shipping-quotes"></div>
</div>
        </li>
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>Coupon Code:</strong>
            </div>
            <div class="cart-total-value">

    <button class="coupon-code-add">Add Coupon</button>

    <button class="coupon-code-cancel" style="display: none;">Cancel</button>
</div>

<div class="cart-form coupon-code" style="display: none;">
    <form class="form form--hiddenLabels coupon-form" method="post" action="/cart.php">
        <label class="form-label" for="couponcode">Enter your coupon code</label>
        <input class="form-input" data-error="Please enter your coupon code." id="couponcode" type="text" name="couponcode" value="" placeholder="Enter your coupon code">
        <input class="button button--primary button--small" type="submit" value="Apply">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
        </li>
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>Gift Certificate:</strong>
            </div>
            <div class="cart-total-value">

    <button class="gift-certificate-add">Gift Certificate</button>

    <button class="gift-certificate-cancel" style="display: none;">Cancel</button>
</div>

<div class="cart-form gift-certificate-code" style="display: none;">
    <form class="form form--hiddenLabels cart-gift-certificate-form" method="post" action="/cart.php">
        <label class="form-label" for="couponcode">Enter your certificate code</label>
        <input class="form-input" data-error="Please enter your valid certificate code." id="couponcode" type="text" name="certcode" value="" placeholder="Add Certificate">
        <input class="button button--primary button--small" type="submit" value="Apply">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
        </li>
    <li class="cart-total">
        <div class="cart-total-label">
            <strong>Grand total:</strong>
        </div>
        <div class="cart-total-value cart-total-grandTotal">
                <span>$54.00</span>
        </div>
    </li>
</ul>
            </div>

                <div class="cart-actions">
                    <a class="button button--primary" href="/checkout.php" title="Click here to proceed to checkout">Check out</a>
                </div>

                <div class="cart-additionalCheckoutButtons">
                        <div class="FloatRight PayPalExpressCheckout RemoteCheckout CheckoutButton">

		    <p>-- or use --</p>
		
	<div>
		<form method="post" action="https://store-efzfxrs.mybigcommerce.com/checkout.php">
						<input type="image" name="submit" alt="Checkout with PayPal" src="https://cdn6.bigcommerce.com/r-e547c5ec3bf23a3d4c480ed3a75fc92c94da909e/img/payment-providers/paypal-checkout-btn-small.png">
						<input type="hidden" name="provider" value="paypalexpress">
			<input type="hidden" name="action" value="set_external_checkout">
		</form>
	</div>
	
</div>

                </div>

        <!-- snippet location cart -->
    </main>
</div>

    