<h1 class="page-heading">Mais Vendidos</h1>

			<!-- snippet location categories -->
			<div class="page">


				<main class="page-content" id="product-listing-container">


				<form action="/compare" method="POST" data-product-compare="">
					<ul class="productGrid">
						<li class="product">
							<article class="card ">
								<figure class="card-figure">
									<a href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">
										<img class="card-image lazyautosizes lazyloaded"
										data-sizes="auto"
										src="http://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/500x659/products/86/326/ageze1__43203.1454448999.jpg?c=2"
										data-src="http://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/500x659/products/86/326/ageze1__43203.1454448999.jpg?c=2"
										alt="Ageze" title="Ageze" sizes="263px">
									</a>
									<figcaption class="card-figcaption">
										<div class="card-figcaption-body">
											<a href="#" ng-click="mostrarModalPrev=true"
												class="button button--small card-figcaption-button quickview"
												data-product-id="86">Visualizar</a> <a
												href=""
												class="button button--small card-figcaption-button">Adicionar
												ao carrinho</a>
										</div>
									</figcaption>
								</figure>
								<div class="card-body">
									<p class="card-text" data-test-info-type="productRating">
										<span class="rating--small"> <span
											class="icon icon--ratingEmpty"> <svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <!-- snippet location product_rating -->
										</span>
									</p>
									<p class="card-text" data-test-info-type="brandName">Phil
										&amp; Sebastian</p>
									<h4 class="card-title">
										<a
											href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">Ageze</a>
									</h4>

									<div class="card-text" data-test-info-type="price">
										<div class="price-section price-section--withoutTax ">
											<span data-product-price-without-tax=""
												class="price price--withoutTax">$18.00</span>
										</div>
									</div>
								</div>
							</article>
						</li>
						<li class="product">
							<article class="card ">
								<figure class="card-figure">
									<a href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">
										<img class="card-image lazyautosizes lazyloaded"
										data-sizes="auto"
										src="http://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/500x659/products/86/326/ageze1__43203.1454448999.jpg?c=2"
										data-src="http://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/500x659/products/86/326/ageze1__43203.1454448999.jpg?c=2"
										alt="Ageze" title="Ageze" sizes="263px">
									</a>
									<figcaption class="card-figcaption">
										<div class="card-figcaption-body">
											<a href="#"
												class="button button--small card-figcaption-button quickview"
												data-product-id="86">Visualizar</a> <a
												href="http://cornerstone-warm-demo.mybigcommerce.com/cart.php?action=add&amp;product_id=86"
												class="button button--small card-figcaption-button">Adicionar
												ao carrinho</a>
										</div>
									</figcaption>
								</figure>
								<div class="card-body">
									<p class="card-text" data-test-info-type="productRating">
										<span class="rating--small"> <span
											class="icon icon--ratingEmpty"> <svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <!-- snippet location product_rating -->
										</span>
									</p>
									<p class="card-text" data-test-info-type="brandName">Phil
										&amp; Sebastian</p>
									<h4 class="card-title">
										<a
											href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">Ageze</a>
									</h4>

									<div class="card-text" data-test-info-type="price">
										<div class="price-section price-section--withoutTax ">
											<span data-product-price-without-tax=""
												class="price price--withoutTax">$18.00</span>
										</div>
									</div>
								</div>
							</article>
						</li>
						<li class="product">
							<article class="card ">
								<figure class="card-figure">
									<a href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">
										<img class="card-image lazyautosizes lazyloaded"
										data-sizes="auto"
										src="http://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/500x659/products/86/326/ageze1__43203.1454448999.jpg?c=2"
										data-src="http://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/500x659/products/86/326/ageze1__43203.1454448999.jpg?c=2"
										alt="Ageze" title="Ageze" sizes="263px">
									</a>
									<figcaption class="card-figcaption">
										<div class="card-figcaption-body">
											<a href="#"
												class="button button--small card-figcaption-button quickview"
												data-product-id="86">Visualizar</a> <a
												href="http://cornerstone-warm-demo.mybigcommerce.com/cart.php?action=add&amp;product_id=86"
												class="button button--small card-figcaption-button">Adicionar
												ao carrinho</a>
										</div>
									</figcaption>
								</figure>
								<div class="card-body">
									<p class="card-text" data-test-info-type="productRating">
										<span class="rating--small"> <span
											class="icon icon--ratingEmpty"> <svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <!-- snippet location product_rating -->
										</span>
									</p>
									<p class="card-text" data-test-info-type="brandName">Phil
										&amp; Sebastian</p>
									<h4 class="card-title">
										<a
											href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">Ageze</a>
									</h4>

									<div class="card-text" data-test-info-type="price">
										<div class="price-section price-section--withoutTax ">
											<span data-product-price-without-tax=""
												class="price price--withoutTax">$18.00</span>
										</div>
									</div>
								</div>
							</article>
						</li>
						<li class="product">
							<article class="card ">
								<figure class="card-figure">
									<a href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">
										<img class="card-image lazyautosizes lazyloaded"
										data-sizes="auto"
										src="http://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/500x659/products/86/326/ageze1__43203.1454448999.jpg?c=2"
										data-src="http://cdn6.bigcommerce.com/s-efzfxrs/images/stencil/500x659/products/86/326/ageze1__43203.1454448999.jpg?c=2"
										alt="Ageze" title="Ageze" sizes="263px">
									</a>
									<figcaption class="card-figcaption">
										<div class="card-figcaption-body">
											<a href="#"
												class="button button--small card-figcaption-button quickview"
												data-product-id="86">Visualizar</a> <a
												href="http://cornerstone-warm-demo.mybigcommerce.com/cart.php?action=add&amp;product_id=86"
												class="button button--small card-figcaption-button">Adicionar
												ao carrinho</a>
										</div>
									</figcaption>
								</figure>
								<div class="card-body">
									<p class="card-text" data-test-info-type="productRating">
										<span class="rating--small"> <span
											class="icon icon--ratingEmpty"> <svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <span class="icon icon--ratingEmpty"> <svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-star"></use>
								</svg>
										</span> <!-- snippet location product_rating -->
										</span>
									</p>
									<p class="card-text" data-test-info-type="brandName">Phil
										&amp; Sebastian</p>
									<h4 class="card-title">
										<a
											href="http://cornerstone-warm-demo.mybigcommerce.com/ageze/">Ageze</a>
									</h4>

									<div class="card-text" data-test-info-type="price">
										<div class="price-section price-section--withoutTax ">
											<span data-product-price-without-tax=""
												class="price price--withoutTax">$18.00</span>
										</div>
									</div>
								</div>
							</article>
						</li>
					</ul>
				</form>

				<div class="pagination">
					<ul class="pagination-list">

					</ul>
				</div>
				</main>
			</div>